<h1>Fornecedores: </h1>

<% if @suppliers.any? %>
    <table>
        <thead>
            <tr>
                <th>Fornecedor</th>
                <th>Localização</th>
            </tr>
        </thead>
        <tbody>
            <% @suppliers.each do |s| %>
                <tr>
                    <td><%= link_to s.corporate_name, s %><td>
                    <td><%= s.full_address %><td>
                <tr>
            <% end %>
        </tbody>
    </table>
<% else %>
<div>
    <h5>Nenhum fornecedor cadastrado</h5>
</div>
<% end %>
<div>
    <li><%= link_to 'Novo Fornecedor',new_supplier_path %></li>
</div>
<div>
    <p><%= link_to('Início', root_path) %></p>
</div>





